[2019-03-19 20:16] baruchvlz opened #2 "Add type definitions"
Add type definitions in a `index.d.ts` file in root directory

[2019-03-19 20:19] baruchvlz opened #3 "Handle not found element more gracefully"
Currently we just throw an error. We should let the user know that one of the possibilities is an anonymous component along side saying that the component was not found

[2019-03-19 22:32] christian-bromann opened #5 "some ideas"
Hey @baruchvlz ,

thanks for working on this! I looked the code and wanted to share some idea. Maybe I get the time to contribute to this project and make PRs for them.

- in `index.js` - `await waitToLoadReact(5000)`: maybe we can make the timeout configurable but 5000ms seams a reasonable default
- in `getRootComponent` - do all root elements have the id `'#root'`?
- instead of expecting the roo

[2019-03-20 09:11] baruchvlz commented on #5
- Yea, I'll add an optional parameter for timeout
- Good point, that's not guaranteed to be `#root`, this is just the one `create-react-app` uses. I'll adjust the search to something more dynamic that way we can also use it for apps with handlers (ie SSR)
- That's a good point, once I change the search for the root component, I'll have `waitToLoadReact` to return it
- Sure, I'll publish the packag

[2019-03-20 11:37] baruchvlz opened #6 "RESQNode class exposes cached `nodes`"
When creating a `RESQNode` instance, we keep `nodes` in memory in order to be able to do `resq$('SomeComponent').byProps({ /* ... */ })`.

These nodes should be a private property in the class

[2019-03-20 15:50] #6 closed

[2019-03-20 15:53] baruchvlz commented on #5
Publishing the library as a bundle has been a pain in the ass. It was working for `create-react-app`s but for custom built apps it was failing.

I'm hoping this https://github.com/baruchvlz/resq/commit/228038eaddd25b20332da9e29899ecb815659d8d fixes the issue. I tested it locally and it seems to be fine.

[2019-03-20 16:12] #5 closed

[2019-03-21 17:20] baruchvlz opened #10 "Allow for wildstar selector"
Scenario:

[code]

[code]

[2019-03-22 11:01] #3 closed

[2019-03-22 11:08] baruchvlz opened #11 "Todos before v1"
- [x] Update README.md to explain the difference between selecting components using `React.Fragment` and those using HTML elements as wrappers
- [ ] Add CI with Codecov
- [x] Add minimum coverage for files
- [ ] Add type definitions
- [x] Add commitizen [cli](https://github.com/commitizen/cz-cli) and [changelog](https://github.com/commitizen/cz-conventional-changelog)

Optional
- [x] ~Rewrite to n

[2019-03-22 16:39] baruchvlz commented on #11
We will expose `waitToLoadReact` in order to have the user manually wait for the app to load, this way they won't need `async/await` in every use of the library. https://github.com/baruchvlz/resq/commit/252314507787c261642895c0e46626ba28c45890

[2019-03-26 09:14] #11 closed

[2019-03-28 16:17] baruchvlz opened #12 "Missing documentation for byProps and byState"

[2019-03-30 23:22] #12 closed

[2019-04-01 08:45] christian-bromann opened #15 "Problem finding root element"
When running resq on http://todomvc.com/examples/react/#/ it has problems finding the root element. When trying to fetch an element it returns an error saying: `Could not find the root element of your application`

[2019-04-01 09:36] christian-bromann commented on #15
Same for http://pl12133.github.io/react-solitaire/

[2019-04-01 09:37] baruchvlz commented on #15
This is due to the library only supporting React v16+. The TodoMVC example is written in React v0.13.3 which was released almost [4 years ago](https://reactjs.org/blog/2015/05/08/react-v0.13.3.html). I'm not sure if we want to support versions that far back.

I think we can add something to the message saying to make sure they're using v16+.

[2019-04-01 09:42] christian-bromann commented on #15
Yeah .. let's note this in the Readme.md so people know that it only works with React v16+

[2019-04-01 09:48] christian-bromann opened #16 "Use webpack for bundling"
The current bundled version is not useful as it still requires some babel packages. I got a much smaller bundle that assigns to the window object by using webpack and the following config:

[code]

To be able to use it with WebdriverIO it would be great there would be a bundle that assigns itself to the window object. With that I can inject it using the [`executeScript`](https://w3c.github.io/webd

[2019-04-01 09:57] christian-bromann opened #17 "Add sourcemap support"
This might be a bit tricky but definitely solve able. It would be cool if `resq` could fetch the sourcemaps of the bundled react files and allow to fetch the original component names even though the code is minified.

[2019-04-01 11:02] baruchvlz commented on #16
I will separate these 2 (webpack and injecting) into two separate PRs.

[2019-04-01 11:05] baruchvlz commented on #15
Added here: ec4c8ac14875758767cfb0c021a50e91a6243558

[2019-04-01 11:05] #15 closed

[2019-04-01 11:16] christian-bromann commented on #16
No PR needed for injecting, it is part of WebdriverIO to work with the bundle that you publish at the end.

[2019-04-01 12:25] baruchvlz commented on #16
Published in[ v1.2.0](https://github.com/baruchvlz/resq/tree/v1.2.0).

Note that the class names and function names for the library are being mangled by webpack. This isn't trivial

[2019-04-01 12:25] #16 closed

[2019-04-01 22:46] christian-bromann opened #19 "window.resq.resq$$ doesn't throw if no react app was found"
When calling `window.resq.resq$$` on a page that doesn't entail a React app the call returns a string saying ` Could not find the root element of your application` where it actually should throw an error.

[2019-04-02 06:46] #19 closed

[2019-04-16 15:27] baruchvlz commented on #2
V2 will be a complete re-write in typescript.

[2019-04-16 15:27] #2 closed

[2019-04-20 19:01] baruchvlz opened #27 "byState filter is restricted to only object type filter"
React allows for the state to be any type (number, string, object, etc). Current implementation of `byState` only supports objects.

[2019-04-22 20:20] #27 closed

[2019-05-07 15:15] baruchvlz opened #30 "rebuild tree from React VirtualDOM on every request"
Current implementation of the `resq$` and `resq$$` commands use only the first creation of the virtual dom. If the vdom ever changes, these changes are not reflected in the tree.

[2019-05-14 17:09] lcharbon commented on #30
I'm having an issue where whenever I navigate with React Router resq throws:
[code]
When querying for a component.

Minimal working example: https://github.com/lcharbon/webdriverio_bugs_demo/tree/router-bug

#### Steps to reproduce
1) Run `yarn start`.
2) Navigate to http://localhost:3000/home.
3) Click "Click Me" button.
4) Run `window.resq$("Success")` in browser console.

If this issue does not

[2019-05-14 17:15] lcharbon opened #31 "Won't Find Root If React Mounted Asynchronously"
Related to Webdriverio issue [3916](https://github.com/webdriverio/webdriverio/issues/3916).

If react is mounted asynchronously. Using react$ selector throws the error:
`javascript error: Could not find the root element of your application`.

I see two cases for mounting react asynchronously:

1) React is only used for a subset of the app.
2) React needs to request for external data before it is

[2019-05-14 17:39] baruchvlz commented on #31
As mentioned in the WDIO ticket, I fail to see why you would mount the page asynchronously. Maybe if you can provide a good use case for this then we might think of a reason why to try and fix it, but I myself can't think of a use case and I've never seen anyone do this before.

[2019-05-14 17:43] lcharbon commented on #31
@baruchvlz I provided two use cases:

1) React is only used for a subset of the app.
2) React needs to request for external data before it is mounted.

[2019-05-14 17:43] baruchvlz commented on #30
That might be because the tree the library builds from the VDOM doesn't get updated when the VDOM changes. I have a change for this [here](https://github.com/baruchvlz/resq/commit/1de87297bd907f0a63e0a28d1ada39b014d24865) but I haven't finished adding the tests and currently I'm busy with finalizing a project for work.

Hopefully I'll be able to finish this by the end of the week, along another fe

[2019-05-14 17:55] baruchvlz commented on #31
My apologies.

 I've never seen anyone mount React asynchronously, what I've seen before though is mounting the app and asynchronously displaying the components.

From the top of my head, some ways to implement this:

1. Loop through the DOM until it's found, irregardless of how many times this has to be done (obviously it will have to have a max amount of tries)
2. Pass a property to `waitToLoadR

[2019-05-19 14:05] baruchvlz commented on #31
With v1.5.0 you can do something like:

[code]

Now, this won't fix the case where the application is mounted asynchronously, but it can give you more more freedom to handle it yourself.

For example:
[code]

As to how to handle this in WDIO, the react selectors were added as commands to the element, so you can do something like this now

[code]

[2019-05-19 14:05] #31 closed

[2019-05-24 20:57] lcharbon commented on #30
Just pulled the latest Webdriverio and the issue demonstrated in the [minimal example](https://github.com/lcharbon/webdriverio_bugs_demo/tree/router-bug) is still occurring.

Would you like me to create another issue for this?

[2019-05-25 10:30] baruchvlz commented on #30
No need for another issue. I verified it and it happens even without WebdriverIO. It also seems to be something to do when mixing in React Router.

[code]

This will work if you're already inside `/success` but if you go from `/home` -> `/success` the error appears. I will take care of this during the week.

[2019-07-02 19:14] simo-eskalera opened #33 "element.node is null"
Recently came across an issue with our react app and webdriver.io returning elements without the underlying node. The node value is `null` as shown below:

<img width="556" alt="Screen Shot 2019-06-28 at 12 30 50 PM" src="https://user-images.githubusercontent.com/49319958/60539931-ef6a4200-9cdb-11e9-8616-07b8a7b69baf.png">

This seems to point to $resq. More details here:
https://github.com/webdri

[2019-07-05 18:06] simo-eskalera commented on #33
Can this issue get some love? :)

[2019-07-05 22:18] christian-bromann commented on #33
@simo-eskalera of course, you are welcome to contribute!

[2019-07-06 07:59] baruchvlz commented on #33
@simo-eskalera I'm on vacation right now. But as Christian said, if you can / want to take a look at it you're more than welcome (:

[2019-07-07 17:46] baruchvlz commented on #33
Is there a way you can make a reproducible error in [stackblitz](https://stackblitz.com/edit/resq)?

[2019-07-12 18:38] simo-eskalera commented on #33
Thanks @christian-bromann and @baruchvlz , I provided an update here: https://github.com/webdriverio/webdriverio/issues/4129
Basically, some wrapper components don't directly have node elements. I think this module does what it's supposed to do. and the issue is to figure out how I can traverse `UsernameField` > ... > `input`

[2019-07-29 05:43] bendtherules opened #34 "Bunch of suggestions"
I am not sure if creating separate issue for all of these makes sense, but these are roughly the concerns I have while looking through the code and underlying FiberNode structure -

1. No direct access to underlying FiberNode.
The output is a simplified structure (duplicated and subset), which might be great for common testing usecases. But it has lot of downsides.
Like:
a. Power users can't do so

[2019-07-29 08:18] christian-bromann commented on #34
@bendtherules I think these are all great features that can find their place in this library. We appreciate every pull request. Cheers!

[2019-07-29 12:53] baruchvlz commented on #34
Hi @bendtherules, thanks for your interest in the library.
As your other points:

1. Copying the FiberNode into the return value can cause some issues with performance when testing big applications as the FiberNodes will also have the FiberNode of the parent and children hierarchies of the component. You can indeed chain the search, but it's a bit tricky:

[code]

But we are aware that this can, a

[2019-07-29 18:02] bendtherules commented on #34
To give context about most of the suggestions, my understanding is that resq always eagerly converts back results into a simplified structure - which has no information about the FiberNode structure.
It maps back stuff to DOM nodes, if available.

My suggestion is that (allow as a option or by default) return results containing reference to underlying FiberNode. This will allow user to do further

[2019-07-30 06:49] baruchvlz commented on #34
This is something we could add. But not as a default, rather as a flag to the functions.

I like this. Using CSS like pseudo-selectors to pick the elements will be really helpful.

[code]

If the names get mangled there will be no actual way of finding the component via the "pre-mangled" name since it won't exist in the code. The library is meant to be used along side testing frameworks and in my

[2019-07-30 15:42] bendtherules commented on #34
For all the 3 disagreements, the question is whether to allow (optionally) debugging/testing with help from the main React application?
Ofcourse, I don't expect this test code to be shipped **with** the application for end users, but more like conditionally loaded for developers (in production). Why is this a bad idea?

Imagine asking the same questions about React debugger.
1. What if React debug

[2019-08-12 12:43] 13rentgen opened #36 "TypeError: Cannot read property 'children' of undefined"
Type error throwed when resq isn't able to find a react component

https://stackblitz.com/edit/resq-scvbvx?file=index.js

<img width="492" alt="Screenshot 2019-08-12 at 15 41 01" src="https://user-images.githubusercontent.com/2183762/62865721-da8bc000-bd17-11e9-816d-fa7ff61412ce.png">

[2019-08-13 02:58] baruchvlz commented on #33
@simo-eskalera Could you verify if #37 fixes your issue?

[2019-08-14 07:56] #33 closed

[2019-08-15 16:47] simo-eskalera commented on #33
Thanks @baruchvlz Yes, from looking at the PR, it does indeed iterate over the children collection to find a node that is not null.

[2019-08-19 08:40] 13rentgen commented on #36
MR #37 closed the issue

[2019-08-19 08:40] #36 closed

[2019-08-20 07:58] baruchvlz commented on #30
Closing as it seems this has lost interest.

[2019-08-20 07:58] #30 closed

[2019-08-20 10:50] #10 closed

[2019-08-20 12:00] lcharbon commented on #30
Lost interest?

[2019-08-20 13:05] baruchvlz commented on #30
@lcharbon I thought since there was no traction on the issue that it had lost interest. I now see that I said I would take care of it. Sorry I forgot.

If you still have this problem, please open a new issue and we'll look at it.

[2019-08-26 07:19] moeyashi opened #40 "Material-ui-icons Component element.node is null"
I use [@material-ui/icons](https://www.npmjs.com/package/@material-ui/icons).
And test it with [WebDriverIO's react$](https://webdriver.io/docs/api/browser/react$.html).
In resq/utils/findStateNode, element.stateNode of material-ui-icon component is null, element.child.stateNode too.
I found element.child.child.child.child.stateNode is svg.
I think findStateNode function need recursive.

<img widt

[2019-08-26 13:46] baruchvlz commented on #40
What version are you using?

[2019-08-27 02:27] moeyashi commented on #40
Thank you for your reply!

I'm using `"webdriverio": "^5.12.4"`.
package.json of resq in my node_modules show `"version": "1.6.0"`

I show my dependencies
[code]

[2019-08-28 02:34] moeyashi commented on #40
I tried simple code, but it failed.
https://github.com/moeyashi/material-ui-with-webdriberio

Is this attempt helpful?

[2019-08-29 06:16] baruchvlz commented on #40
I wonder if the issue is with MaterialUI or with NextJS. I'll take a look at the repository later today.

[2019-08-29 06:21] baruchvlz commented on #30
Perfect. Thanks!

[2019-09-03 09:53] baruchvlz commented on #40
After some investigation I was able to figure out what's going on. The issue is your selector. It should be:

[code]

Why? Because MaterialUI (as well as Styled components) wrap their components in a bunch of HoC which makes selecting very difficult. You can see these HoCs in the React Dev Tools (which we *strongly* recommend you use:

![Screenshot 2019-09-03 at 11 45 41](https://user-images.githu

[2019-09-06 02:49] moeyashi commented on #40
The test passed!
I test with great attention to HOC from now on.

thank for opening the issue in WebdriverIO.

[2019-09-06 02:49] #40 closed

[2019-09-15 12:48] abhinaba1080 opened #42 "getting window not defined error"
hi,
I am getting window not defined error while importing the resq module. I am doing nothing fancy, just running:

[code]
npm script: ts-node test.ts

Error thrown:

[code]

[2019-09-15 21:03] baruchvlz commented on #42
This seems to be an issue with your test configuration. Which testing framework or library are you using?

[2019-09-16 02:42] abhinaba1080 commented on #42
I am using protractor. browser: true can't be set at protractor configuration.

Do you have any guidance/working example for protractor resq integration?

[2019-09-16 03:11] baruchvlz commented on #42
My only recommendation would be to use something else. Protractor was built to test AngularJS (which is no longer supported by the Angular team) appliciations. Try using something like [WebdriverIO](http://webdriver.io) which uses this library internally to select React components.

[2019-09-16 03:11] #42 closed

[2019-09-16 07:13] baruchvlz opened #43 "Strip HoCs from component name before matching selector"
Currently, if we want to select a styled component (for example) we would have to first find out the displayName from the React dev tools and then select it with the proper HoCs wrapped around.

Given this example component

[code]

[code]

This is not the best solution considering that it can be confusing having to download React dev tools, get used to it, and then find the component, etc.

If we

[2019-10-21 22:34] soswow commented on #2
Well, until then to have index.d.ts would be beneficial ;-)

[2019-11-01 14:36] baruchvlz opened #50 "Use ReactWorkTags to identify if Class or Functional component"
By utilizing [ReactWorkTags](https://github.com/facebook/react/blob/b87aabdfe1b7461e7331abb3601d9e6bb27544bc/packages/shared/ReactWorkTags.js) we can simplify identifying the type of component. This will allow us to easily identify the name of the component as well as be able to filter out wrappers like Providers and Consumers.

[2019-11-15 05:57] abhinaba-ghosh opened #51 "IE11 not identifying elements properly"
Hi,

I was playing with resq and I have encountered functional differences in different browser. Chrome and Firefox greatly handles the react component identification part. But, not IE11.

I have changed res$$ to resqTT, as IE can't handle those symbols. But, this is not a showstopper.

I have attached the findings for two different browsers for same website:

website under test: https://react-sho

[2020-02-02 11:21] #43 closed

[2020-02-02 11:24] baruchvlz commented on #51
Hey @abhinaba1080 sorry for the late response. This is an interesting issue indeed, have you found a way around it? It is hard for me to work on this as I don't own a Windows machine.

[2020-02-02 11:48] abhinaba1080 commented on #51
i did not get any solution around it. This library is actually fantastic, but without IE support, it hard to leverage this library.

you can use a virtual windows machine for the time being. you will be the best person to analyse thia issue as you know the whereabouts.

[2020-02-09 18:48] mvasin opened #54 "Types don't make it into to the npm package"
`index.d.ts` file is absent in npm package, that's is a bummer:

<img width="835" alt="Screenshot 2020-02-09 at 19 43 38" src="https://user-images.githubusercontent.com/12434833/74107903-fd871780-4b74-11ea-9ab7-e677a968ca04.png">

[2020-02-10 07:16] #54 closed

[2020-02-19 10:30] mvasin commented on #17
At least it would be nice to add to readme the `uglify-js` and/or `terser` settings that would keep full component names but minify the rest of the code. I'm still figuring them out.

[2020-02-24 19:07] abhinaba1080 commented on #51
@mvasin as this #53 is merged , in which version i can exect the fix? can i get the transpiled js ?

[2020-02-24 22:34] mvasin commented on #51
Hi @abhinaba1080, it’s it 1.7.1

[2020-02-24 22:35] mvasin commented on #51
Please let us know if #53 made any difference for you.

[2020-02-25 11:38] abhinaba1080 commented on #51
I have used the latest. Isue still there. IE is showing really wired behavior as couple of cases IE finding out the element correct, but failing for other cases. Here are some screenshots:

**Actual Component**

![image](https://user-images.githubusercontent.com/23141842/75244107-2b18c580-57f1-11ea-9169-e1a6c90b8b49.png)

**In Chrome, Element getting identified properly**

![image](https://user-im

[2020-04-17 13:14] abhinaba-ghosh commented on #17
any update on this ticket?

[2020-04-17 13:19] christian-bromann commented on #17
@abhinaba-ghosh please see the "help wanted" label. If this is something you like to have please get involved and propose a PR for this. Thanks!

[2020-08-12 05:59] abhinaba-ghosh opened #59 "Possibility of updating props and states in runtime"
I know the library is built to provide the Node information to the end user by quering React properties. I was just thinking about any possibilities of updating props and states using some crazy commands - setProps or setState. With Enzyme, it can be possible by mounting/shallowing the target component.But currently there is no solution where somebody doesn't have the access to the source code, li

[2020-08-28 08:16] baruchvlz commented on #59
I'm not entirely sure this would be possible in e2e or integration tests because you would have to update the component (wether force, rehydration, or remounting) and this functionality does not exist in the DOM or in the instance of React within the DOM elements. This possible to do in testing libraries like Enzyme and React testing library because these are used for testing components in isolati

[2020-08-28 10:15] abhinaba-ghosh commented on #59
I was thinking about the same terms. Just wanted to check how much we can leverage and enhance current the RESQ API.

[2020-08-28 10:15] #59 closed

[2020-09-21 12:55] abhinaba-ghosh opened #60 "Not able to identify RESQ nodes for non-root element"
RESQ version: 1.8.0

If root is used while fetching the resq nodes, it is able to identify the child elements. But, if non-root element is used, it is failing to identify the same. The attached screenshots will be more descriptive:

DOM:
<img width="284" alt="Screenshot 2020-09-21 at 6 24 17 PM" src="https://user-images.githubusercontent.com/23141842/93768867-adf2e900-fc37-11ea-9c30-c4a14c891647.p

[2020-09-22 16:07] baruchvlz commented on #60
Hey @abhinaba-ghosh thanks for reporting this. Do you know if this happened in 1.7.1 as well?

[2020-09-22 16:20] abhinaba-ghosh commented on #60
hi @baruchvlz , yes, it is happening with `v1.7.1` too. I am seeing this is happening if a component is getting mounted asynchronously. But it is still wired.

[2020-09-22 16:21] abhinaba-ghosh commented on #60
If you need exact use case with a sample `cypress` repo, I can provide the same.

[2020-09-25 09:31] baruchvlz commented on #60
I'll take a look at this. Again, thanks for reporting.

[2020-10-03 02:46] ooorayray opened #61 "byProps/byState should match all keys"
### Current behavior

When passing a matcher with multiple keys, `.byProps`/`.byState` returns nodes that match any one of the given keys.

Example:
[code]

### Expected behavior

`.byProps`/`.byState` returns nodes that match ALL of the given keys.

Example:
[code]

Failing test case: https://github.com/ooorayray/resq/commit/b502b830105736a80b2fccbd37d9b31ed9e55672

[2020-10-03 19:53] baruchvlz commented on #61
Thanks for reporting and for the test case. I was able to pin point the error, I'm on my birthday holidays at the moment, but will fix this ASAP early next week along with #60 .

[2020-10-06 08:25] baruchvlz opened #63 "docs: Missing information on `exact` flag"
Both filters (`byProps` and `byState`) have an `exact` flag which will deep evaluate the objects and return true only if all values match.

This information is missing from the documentation.

[2020-10-09 16:10] abhinaba-ghosh commented on #60
Hi @baruchvlz , sorry for pushing this in your busy schedule, but having an update about this issue would be pretty helpful.

[2020-10-11 10:39] #61 closed

[2020-10-11 13:30] baruchvlz commented on #61
Should be fixed in v1.9.0.

[2020-10-11 13:33] baruchvlz commented on #60
Hi @abhinaba-ghosh, I was trying to create a reproducible example for this, but was not able to.

I used this example:

[code]

![image](https://user-images.githubusercontent.com/14321495/95680032-c7ec6f80-0bd6-11eb-9526-b6a9d5f51d4a.png)

As you can see in the image, i am able to retrieve both `<Product />` components using the result from `querySelector` as well as the node from the result of us

[2020-10-11 13:34] #50 closed

[2020-10-11 15:35] abhinaba-ghosh commented on #60
Hi Thanks for re-confirming. I will try with the v1.9.0. If still exists, I will share the codebase.

[2020-10-11 15:59] abhinaba-ghosh commented on #60
Hi @baruchvlz , some wired behavior after migrating to `v1.9.0`, `byProps` returning multiple nodes which is not the case with the earlier version. You can try out with [this app](https://ahfarmer.github.io/calculator/).

<img width="1194" alt="Screenshot 2020-10-11 at 9 26 08 PM" src="https://user-images.githubusercontent.com/23141842/95683420-b58b2980-0c08-11eb-8d03-ab2fca34dd56.png">

[2020-10-12 07:00] baruchvlz commented on #60
@abhinaba-ghosh Thanks for taking a look at v1.9.0. I'm not entirely sure why this is happening, but I tried out your last reported error with both sync and async approaches and could not reproduce.

**Sync**
<img width="1575" alt="Screenshot 2020-10-12 at 08 57 43" src="https://user-images.githubusercontent.com/14321495/95714939-4bef3780-0c69-11eb-8efa-8ef224341a55.png">

**Async**
<img width="15

[2020-10-15 13:08] mgrybyk opened #64 "can't find element by props in 1.9.0"
**Steps to reproduce**
_in browser console_
`resq.resq$$('*', document.getElementById('root')).byProps({name: '5'})`

**Actual Result**
returned 44 elements

**Expected Result**
one element

**WebdriverIO steps to reproduce**
[code]

**Actual Result**
[code]

**Expected Result**
`div 5`

[2020-10-15 13:08] mgrybyk commented on #64
@baruchvlz will you be able to take a look?

[2020-10-15 14:54] baruchvlz commented on #64
I checked with 1.8.0, seems to be working fine. The changes done to `verifyIfObjectsMatch` function is what's screwing this up, will try to have a fix soon.

[2020-10-15 16:29] baruchvlz commented on #64
Should be fixed in `v1.9.1`

[2020-10-15 16:34] #64 closed

[2020-10-15 20:31] abhinaba-ghosh commented on #60
working well in the latest version.

[2020-10-15 20:31] #60 closed

[2020-10-15 20:31] #51 closed

[2020-10-16 07:05] baruchvlz commented on #34
Closing this as stale. There are some good suggestions that I will take a look at for v2.

[2020-10-16 07:05] #34 closed

[2020-10-16 07:36] baruchvlz commented on #63
Added here: 081c221c511944d3905da727fd2a43f911a29eb0

[2020-10-16 07:36] #63 closed

[2020-10-16 14:02] baruchvlz opened #66 "feat: css like pseudo selectors"
[code]

[2020-10-16 14:03] baruchvlz opened #67 "migrate library to TypeScript"
PR: #68

[2020-10-20 07:30] gurkerl83 opened #69 "Missing types"
Hello, I'm playing with your library, and I noticed that the properties created for the interface RESQNode must be wrong. There are no byProps or byState properties. It is possible to bend component to any and then call byProps and it will work, but it would be better if your javascript functions are offered the same typescript types.

For example:
const nodes = resq$(name);
const component = (nod

[2020-10-21 08:22] baruchvlz commented on #69
Thanks for reporting, we're currently working on migrating the library to TypeScript for v2. In the mean time, if you want to fix the types in `index.d.ts` PRs are always welcomed :).

[2020-10-31 16:23] baruchvlz opened #71 "feat: documentation website"
Simple github page for a nicer looking documentation.

[2020-11-15 12:54] abhinaba-ghosh opened #73 "Instance of react not found in confined DOM"
Hi @baruchvlz

When I am trying to access a component in a specified DOM space, often getting this error. Note, `waitForReact` is completed successfully.

The repository where you can reproduce this bug:
https://github.com/abhinaba-ghosh/cypress-react-chain-queries

Resq version: 1.9.2
Platform: Catalina [10.15.7]

Screenshot:
<img width="1195" alt="Screenshot 2020-11-15 at 6 16 08 PM" src="https:

[2020-11-15 13:06] abhinaba-ghosh commented on #73
Even this is not working:
<img width="1180" alt="Screenshot 2020-11-15 at 6 35 01 PM" src="https://user-images.githubusercontent.com/23141842/99185682-730dbd00-2771-11eb-80d9-0ccbe1a4509b.png">

[2020-11-17 11:39] baruchvlz commented on #73
It seems like React has changed the property name in the element in React 17. From `__reactInternalInstance` to `__reactFiber`.

As to your issue where chaining react selectors throws an error, well, that's inteded:

[code]

This doesn't work, what you have to do if you want to support this on your library is to do `resq.waitToLoadReact` on every call of your method. This is an [example from Webdr

[2020-11-17 13:55] #73 closed

[2020-11-18 17:36] danieltroger opened #75 "General question"
Hi guys, this utility is the most awesome thing I've tried out this week.

Since you seem to be knowledgable of react stuff I just wanted to ask if you know some generaliseable way to trigger a rerender? Because if I find a component with this and change its props the real DOM doesn't get updated and it would be nice to be able to do that. Are there any methods I could call?

[2020-11-18 18:56] baruchvlz commented on #75
Hey @danieltroger , happy to hear you like the library. As for your question, it is not possible to trigger re-renders in React since the library is not really a React library rather it uses the browser DOM to traverse the elements with node attributes, for this reason, the library does not have access to the ReactDOM api (which is what libraries like Enzyme and React testing-library use internall

[2020-11-18 18:56] #75 closed

[2020-11-20 09:06] abhinaba-ghosh opened #76 "resq queries should consider the HTMLElement (node) objects rather RESQ objects"
Hi @baruchvlz

**The JSX:**

[code]

**FETCH Products:**

[code]

The outcome:

<img width="1303" alt="Screenshot 2020-11-20 at 2 28 59 PM" src="https://user-images.githubusercontent.com/23141842/99780710-dbc3b380-2b3c-11eb-93c1-80c3929d98ad.png">

**Expectation:**
As per (Type definition)[https://github.com/baruchvlz/resq#type-definition], `node` returns the real HTMLElement so `resq$ /resq$$` sh

[2020-11-20 21:04] baruchvlz commented on #76
The library is not behaving differently, the value that you're passing the wrong second argument.

In your example `product[0]` is not a HTML element, it's the RESQ object, which means that [the condition to check for HTML element fails](https://github.com/baruchvlz/resq/blob/master/index.js#L12), since the condition doesn't pass, then the library uses the root React element.

As to your suggestio

[2020-11-21 03:04] baruchvlz commented on #76
I redacted my last message cause I misunderstood the problem. This does seem like a bug and weird behaviour, I wonder if it's related to React 17. I will investigate this over the weekend.

[2020-12-01 20:21] danieltroger opened #77 "Line 9 of src/waitToLoadReact.js throws an error in IE11 because whatToShow and filter aren't optional"
The error message is this: `TypeError: Argument not optional`

The "problem" (for IE11) is that createTreeWalker is called with only one argument.

The error is here: https://github.com/baruchvlz/resq/blob/59c4c511efaed1ffd1b7de27f613ece1d3b1bd13/src/waitToLoadReact.js#L9

The documentation proving my point: https://developer.mozilla.org/en-US/docs/Web/API/Document/createTreeWalker

![Screen Shot

[2020-12-03 05:39] abhinaba-ghosh commented on #76
Hi @baruchvlz , is there any update for the ticket?

[2020-12-11 13:53] baruchvlz commented on #77
Hey @danieltroger thanks for reporting this issue, currently I don't have the time to look into this but PRs are always welcome.

[2020-12-11 13:54] baruchvlz commented on #76
Hey @abhinaba-ghosh , I currently do not have the time to look into this issue. Sorry for the inconvenience.

[2020-12-16 16:45] danieltroger commented on #75
Hey, it is actually possible to trigger a rerender!

Basically you do `resq$("component").node.__reactInternalInstance$XXXXX.return.stateNode.forceUpdate()`

Kudos to @deepsweet for discovering it.

[2020-12-23 10:15] abhinaba-ghosh commented on #75
Hi @danieltroger @deepsweet do you have a code sample/repository for this. This is an awesome find. It can add tremendous value here https://github.com/abhinaba-ghosh/cypress-react-selector/issues/23

[2020-12-23 12:24] danieltroger commented on #75
Hi @abhinaba-ghosh, I tried to make a video demo for you but I didn't succeed. It seems like it only works on certain react configurations. The react installation on facebook.com is especially interesting, it doesn't have __reactInternalInstance but rather __rreactInterrrnalFiber (sorry my keyboard is broken)

On this site it works: https://www.paulbrunngard.com I will make a demo and post it to y

[2020-12-23 12:53] danieltroger commented on #75
@abhinaba-ghosh Sorry man, it seems like that it works is rarer than finding gold at the end of the rainbow. Getting a reliably method to rerender definitely needs more work.

https://user-images.githubusercontent.com/4047180/102997754-1945a300-4526-11eb-8a27-b95d75840d9c.mp4

[2020-12-31 05:16] abhinaba-ghosh commented on #76
Hi @baruchvlz according to [this](https://github.com/abhinaba-ghosh/cypress-react-selector/issues/41#issuecomment-752225576), the issue still observed in React 16

[2021-03-11 17:55] baruchvlz commented on #76
Yea, that's my bad I meant to ask about React 17, sorry.

I have a bit more time in the coming weeks, I'll take a look at this again.

[2021-03-27 03:19] gabriel-kohen-by commented on #40
Hi @baruchvlz , I'm trying to mimic your recommendation to @moeyashi  with MaterialUI without success.
I'm trying to use the HoC reference without luck. The element is not found.
I'm using WDIO 7 which seems to use resq 1.10.0 on MacOS Catalina(Chrome 89).
I can't also seem to find the displayName you had mentioned.
`browser.react$("WithStyles(ForwardRef(LuiDrawer))")`
![image](https://user-images

[2021-05-07 13:11] abhinaba-ghosh commented on #76
@baruchvlz This happens with React 17 too. Do you have an update on this?

[2021-06-14 05:39] jens-duttke opened #78 "Doesn't work with `displayName` of functional components"
To be able to see the "real" component names in the compiled version of my webapp (https://hexed.it) I'm using `displayName`, like here:
[code]

While the ReactDevTools is showning the `displayName` of the component correctly, `resq` is returning the compiled 1-letter-`name`.
If I change the `getElementName()` function:
https://github.com/baruchvlz/resq/blob/465ab5e3361da40f1b2752e15134cf9304efd97

[2021-06-16 14:10] baruchvlz commented on #78
PRs are always welcome.

[2021-06-16 15:22] jens-duttke commented on #78
I can provide a PR for this single line. But I'm not sure about the tests, since they seem to rely on React's internals (Virtual DOM) and I'm not sure if I can address all circumstances.

[2021-06-17 11:46] baruchvlz commented on #78
You can add a new tree, based off the ones already there, to the [mock](https://github.com/baruchvlz/resq/blob/master/tests/__mocks__/vdom.js) file but instead of `type` it has `displayName`. Maybe that would cover it.

[2021-06-17 11:48] baruchvlz commented on #78
Fair point, let's do this: post a screen recording of a manual test in the PR and I'll also do a manual test and if it all works we can merge it.

[2021-06-21 17:49] jens-duttke commented on #78
@baruchvlz: Any chance to get my pull request merged soon?

[2021-06-22 08:27] #78 closed

[2021-06-22 08:27] baruchvlz commented on #78
I'll do a release later today after I'm done with work.

[2021-06-30 08:34] baruchvlz commented on #78
Haven't been able to do a release yet. Sorry about this, I'll try to do one this week if I'm able to.

[2021-08-06 09:51] #66 closed

[2021-08-06 09:51] #67 closed

[2021-08-06 09:51] #76 closed

[2021-08-06 09:51] #77 closed

[2021-08-06 09:52] #71 closed

[2021-08-06 11:13] abhinaba-ghosh commented on #76
Hey @baruchvlz why this is closed? Let me know if this is solved.

[2021-08-06 12:30] baruchvlz commented on #76
It's not solved. This ticket has been opened for a while and has gained no traction. I'm not the only one that can write code and I don't have the time to debug the library.

[2021-08-06 12:38] abhinaba-ghosh commented on #76
I can understand that. But still this is not the proper justification of closing the issue. Let it be opened until a decision made for this.

[2021-08-24 11:27] gabriel-kohen-by commented on #17
@christian-bromann  can you give a bit guidance on how to go about this? This issue is preventing us from using Webdriver.IO with libraries built on popular npm packages such as Material UI.

[2021-08-24 12:01] christian-bromann commented on #17
@gabriel-kohen-by while there are no contributing docs I am sure you will be fine by aligning to the given code style of this project. Then you need to enable resq to pull the sourcemaps file and use it to parse original component names from the actual source. How to go about this in detail: I don't know. I would look into other sourcemap parsers.

[2021-08-25 10:51] gabriel-kohen-by commented on #17
Cheers @christian-bromann. Let me know if it's the best place to collaborate on this. Just a bit of a background, we are creating UIs on abstraction library on top of Material UI(React) and running test using Webdriver.IO and utilizing SauceLabs accounts to run these. All apps and libraries are built with Typescript.
I was looking at React Standalone tool(our apps run inside of iFrame so I cannot

[2021-11-04 12:42] bkirova opened #82 "Function waitToLoadReact is resolving when global.rootReactElement is undefined"
The function `waitToLoadReact` is resolving even when the `global.rootReactElement` is undefined instead of retrying till the timeout.
https://github.com/baruchvlz/resq/blob/master/src/waitToLoadReact.js

![tempsnip](https://user-images.githubusercontent.com/17831711/140314376-f9a90870-7ec7-4e78-b075-4da84f2c13f5.png)

Even when the `findReactInstance` function returns undefined the promise is res

[2022-01-12 07:31] baruchvlz commented on #82
Closing assuming it's resolved in #83 .

[2022-01-12 07:31] #82 closed

[2022-02-10 08:51] rousku commented on #61
I still find current behavior unexpected. By writing `const filtered = myComponent.byProps({ prop1: 123, prop2: 'abc' })` I expect all `filtered` nodes have props `prop1: 123` AND `prop2: 'abc'`. I think [this](https://github.com/baruchvlz/resq/blob/a506daed2a5dcc7c9aac133a099bf28b2acbb119/tests/utils.test.js#L581) test case should fail because `b` doesn't have prop `foo`.

[2022-06-19 07:25] baruchvlz commented on #61
@rousku The current match returns true if at least one of the properties match. There could be an optional flag to make it a strict match.

If you like you could open a PR and I would gladly review it :)

[2022-07-08 15:05] asnaseer-resilient opened #84 "node incorrectly being returned as an empty array"
We have a React component named **EditableCallRoutingTableDialog** that contains within it another of our React components named **EditableCallRoutingTable**. The relevant snippets showing the code for these components is shown below. We added a call to `React.useEffect` in the **EditableCallRoutingTable** component as follows:
[code]
in order to see what `resq$$` returns for our components and go

[2022-08-16 07:40] baruchvlz commented on #84
Hey @asnaseer-resilient, thanks for using the library. I would like to apologize for the tardiness of the response.

Your `EditableCallRoutingTable` component is a `React.Fragment` which doesn't have a HTML representation thus showing an empty node. If you look at the `children` property you will see that it has 2 elements in the array which would be your `Card` and `Snackbar`.

[2022-08-16 07:58] asnaseer-resilient commented on #84
@baruchvlz I thought the library would realise that this is a fragment and, as you said, would therefore not have a HTML representation and therefore just return the children directly. We are using this library indirectly as we use CodeceptJs for our end-to-end testing and the current behaviour breaks some of our tests.

Would it possible to change the behaviour of how this library treats fragment

[2022-08-16 10:52] baruchvlz commented on #84
It does, on the `children` property. The `node` property is reserved for the HTML element.

[2022-08-16 12:02] asnaseer-resilient commented on #84
Ok - I will get in touch with the authors of CodeceptJs to see if they can amend their use of your library to fix the issues we are seeing.

[2022-10-19 13:36] ShaharMintz-checksum opened #85 "state field returns only the value of the first useState call"
When getting the state using `getElementState(element.memoizedState)` [here](https://github.com/baruchvlz/resq/blob/a506daed2a5dcc7c9aac133a099bf28b2acbb119/src/utils.js#L78) in the source code, it seems like only the first useState value is considered instead of gathering all values of useState calls together into an array using the `next` field on the `memoizedState` object which when not `null`